.cen-portfolio {
  text-align: center;
  margin-bottom: 1rem;
}

.sub-heading {
  margin-bottom: 0;
  padding-top: 5rem;
}

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.swiper,
.swiper-wrapper {
  overflow: visible;
}

.portfolio_item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover {
  border-color: var(--color-primary-variant);
}

.portfolio_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 100%;
  max-width: 480px; /* ensures it doesn't exceed 480px */
  aspect-ratio: 4 / 3; /* maintains the 4:3 ratio */
  position: relative;
}

.portfolio_item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio_item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* =========================== Medium Devices(Media Query) ===================================== */

@media screen and (max-width: 1024px) {
  .cen-portfolio {
    text-align: center;
    margin-bottom: 1rem;
  }

  .sub-heading {
    margin-bottom: 0;
    padding-top: 5rem;
    margin-left: 1rem;
  }
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}
/* =========================== small Devices(Media Query) ===================================== */

@media screen and (max-width: 600px) {
  .portfolio_containerg {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
