.cen {
  text-align: center;
  margin-bottom: 5rem;
}

.sub-heading {
  margin-bottom: 0;
  padding-top: 7rem;
}

.container.details_container {
  width: 70%;
  height: 30rem;
  padding-bottom: 10rem;
}

.ico {
  width: 3rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  /* border-radius: 50%; */
  margin: 0 auto;
  /* border: 0.4rem solid var(--color-primary-variant); */
}

.swiper-pagination-bullet-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}
.details {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 4rem;
  border-radius: 2rem;
  user-select: none;
}

.btnsz {
  width: max-content;
  display: inline-block;
  color: var(--color-bg);
  padding: 0.1rem 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  margin-top: 20px;
}

.icosz {
  width: 30px;
  height: 30px;
  color: var(--color-primary);
}
.para {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

/* =========================== Medium Devices(Media Query) ===================================== */

@media screen and (max-width: 1024px) {
  .container.details_container {
    width: 60%;
  }

  .sub-heading {
    margin-bottom: 0;
    padding-top: 7rem;
    margin-left: 3rem;
  }
}
/* =========================== small Devices(Media Query) ===================================== */

@media screen and (max-width: 600px) {
  .sub-heading {
    margin-bottom: 0;
    padding-top: 7rem;
    margin-left: 2rem;
  }
  .container.details_container {
    width: var(--container-width-sm);
  }

  .para {
    width: var(--container-width-sm);
  }
}
