.cen-experience {
  text-align: center;
  margin-bottom: 3.5rem;
}

.heading-experience {
  text-align: center;
  margin-bottom: 0;
  padding-top: 6rem;
}

#experience {
  height: 100%;
}

.experience_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience_container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  margin-top: 2rem;
}

.experience_container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience_container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience_details {
  display: flex;
  gap: 1rem;
}

.experience_details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

.responsive-exp {
  display: none;
}

/* =========================== Medium Devices(Media Query) ===================================== */

@media screen and (max-width: 1024px) {
  .cen-experience {
    margin-bottom: 1rem;
  }

  .heading-experience {
    text-align: center;
    margin-bottom: 0;
    padding-top: 1rem;
  }
  .experience_container {
    grid-template-columns: 1fr;
  }

  .experience_container > div {
    width: 80%;
    padding: 1.2rem;
    margin: 0 auto;
  }

  .experience_content {
    padding: 0.5rem;
  }

  .experience_backend {
    display: none;
  }

  .experience_frontend {
    display: none;
  }

  .responsive-exp {
    display: inline;
    right: 1rem;
  }
  .experience_container > div h3 {
    display: none;
  }
}
/* =========================== small Devices(Media Query) ===================================== */

@media screen and (max-width: 600px) {
  .experience_container {
    gap: 1rem;
  }

  .experience_container > div {
    padding: 2rem 1rem;
  }

  .experience_content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .cen-experience {
    margin-bottom: 1rem;
  }

  .heading-experience {
    text-align: center;
    margin-bottom: 0;
    padding-top: 5rem;
  }
}
